.container {
	width: 800px;
	max-width: 800px;
}

nav, .projects, .footer {
	display: none;
}

.header {
	margin-top: 0;
}
.site-title {
	padding-top: 4em;
	background: url(/Users/nathandenise/workspace/nathancharles/build/assets/images/resume-header.jpg) center -2.5em transparent no-repeat;
	background-size: 85% Auto;
}

.col-sm-4,
.col-sm-6,
.col-sm-8 {
	float: left;
}

.col-sm-6,
.col-sm-4 {
	width: 33%;
	text-align: right;
}
.col-sm-8 {
	width: 66%;
}
.col-sm-offset-4 {
	margin-left: 33%;
}

.section {
	margin-bottom: 0;
}

.section-title {
	font-size: 1.1em;
	font-weight: bold;
}

.site-title {
	font-size: 165%;
}
