img {
	max-width: 100%;
}
a {
	color: lighten($gray-dark, 35%);
	&:hover,
	&:active {
		text-decoration: none;
		color: $gray-dark;
	}
}

.container {
	max-width: 1020px;
}
.header {
	margin: 1em 0;
}
.site-title {
	font-size: 225%;
	a {
		text-decoration: none;
		color: $gray-dark;
	}
}
.header nav {
	font-size: 140%;
	line-height: 2.5em;
}
.hero {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.content {
	margin-top: 5em;
	margin-bottom: 5em;
}

.section-title {
	font-size: 1.2em;
}

.footer {
	margin: 3em 0 2em;
	font-size: 90%;
	ul {
		margin: 0;
	}
}
