.section,
.entry {
}
.section-title,
.date {
	text-align: right;
}

.meta {
}

.project-information {
	text-align: right;
	h1 {
		margin-top:0;
	}
}
.project-images {
	img {
		margin-bottom: 2em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.project {
	position: relative;
	max-height: 15em;
	overflow: hidden;
	img {
		max-width: 100%;
		opacity: 0.25;
		transition: opacity 0.25s;
	}
	span {
		position: absolute;
		top: 40%;
		width: 100%;
		text-align: center;
		color: $gray-dark;
		font-weight: bold;
		font-size: 2em;
		opacity: 1;
		transition: opacity 0.25s;
	}
	&:hover {
		span {
			opacity: 0;
			transition: opacity 0.25s;
		}
		img {
			opacity: 1;
			transition: opacity 0.25s;
		}
	}
}
