---
title: Contact Me
description: Get in touch, I'd love to hear from you.
---

.col-sm-8
  %a.btn.btn-primary.col-xs-6{:href => "https://github.com/nathancharles", :target => "_blank"}
    %i.fa.fa-github
  %a.btn.btn-warning.col-xs-6{:href => "http://www.linkedin.com/in/nathanccook", :target => "_blank"}
    %i.fa.fa-linkedin-square
  %a.btn.btn-primary.col-xs-6{:href => "http://stackoverflow.com/users/1383243/nathan-cook", :target => "_blank"}
    %i.fa.fa-stack-overflow
  %a.btn.btn-primary.col-xs-6{:href => "https://twitter.com/AnuDesign", :target => "_blank"}
    %i.fa.fa-twitter
  %a.btn.btn-success.col-xs-6{:href => "https://plus.google.com/+NathanCook671123", :target => "_blank"}
    %i.fa.fa-google-plus

.col-sm-4
  %h1 Get in Touch

  %p I'd love to hear from you, even if you're just saying hi! I'm always on the look out for new opportunities and new projects so send a message and I'll get back as soon as I can.