---
title: Portfolio
description: The personal website of Nathan Cook.
---
.hero
  %h2 I'm a take charge kind of guy, nobody tells me to wear pants

  %p
    \... I also make graphics for print &amp; web
    %br
    &amp; develop for the web ...
  %i.fa.fa-arrow-down
