---
title: Resume
description: Resume of Nathan Cook.
---

.section
  .row
    .col-sm-8.col-sm-offset-4
      %p
        = link_to "612.251.5911", "tel:6122515911"
        %br
        = link_to "nathancharles.net", "http://nathancharles.net"
        %br
        = link_to "nathancookster@gmail.com", "mailto:nathancookster@gmail.com"

= partial '_partials/resume.haml'
